/*03_sub02 css*/

/*banner_bg area*/


.banner_box{
  position: absolute;
  height: 220px;
  overflow: hidden;
      min-width:1280px;
  
  width: 100%;
/*   top: 150px; */
  top: 120px;
  z-index: -9;
}

.banner_bg{
  position:absolute;
  top:0;
  width:100%;
  height:220px;
  background:url(../img/sub/content_bg4.png) no-repeat 0 0;
  background-size:cover;
  z-index: -10;
  transition: all 1.7s ease;
  transform: scale(1.05) rotate(0deg);
  /* filter: brightness(80%); */
}

.banner_box h1{
  font-size: 47px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  display: inline-block;
  text-align: center;
  transform: translate(0%, 215%);
  /* position: relative;
  top:-20px;
  opacity: 0; */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .banner_box h1{
    font-size: 47px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    transform: translate(0%, 215%);
    /* position: relative;
    transform: translate(0%,0%);
    top:-20px; */
    /* -webkit-animation: text-focus-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
            animation: text-focus-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both; */
  }
}

/* .banner_bg{
  position:absolute;
  top:150px;
  width:100%;
  height:320px;
  background:url(../img/sub/content_bg4.png) no-repeat 0 0;
  background-size:cover;
  z-index: -10;
} */

/* .banner_bg h1{
  font-size: 47px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-top: 5.5%;
} */

/*container*/

#container{
}

#container .sub_menu ul{
  /* position: relative;
  top:-10px;
  opacity: 0; */
  height:59px;
/* overflow:hidden; */
}

  /*sub_menu*/

#container .sub_menu ul > li{
  position: relative;
}

#container .sub_menu ul > li.depth_01{
}

#container .sub_menu ul > li.depth_02{
}

  #container .sub_menu ul > ._submenu_2 > ul > li{
  width:150px;
  left:-30px;
  }
  
  #container .sub_menu ul > ._submenu_3 > ul > li{
  width:150px;
  left:-37px;
  }

#container .sub_menu ul > li.depth_04{
}

#container .sub_menu ul > li:hover ul{
  display:block;
}

#container .sub_menu ul > li > ul{
height: auto;
position: absolute;
width: 100%;
height: 100px;
margin-top:0px;
/* padding-top: 100px; */
/* top: 30px; */
/* padding-top: 50px; */
/* background-color: #fff; */
display: none;
z-index: 1;
}

#container .sub_menu ul > li > ul > li{
    color:#888;
    font-size:15px;
    display: block;
    height:44px;
    border-top:none;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0;
    line-height: 2.7em;
    border:1px solid #ccc;
    border-bottom:none;
    background:#fff;
}

#container .sub_menu ul > li > ul > li:last-child{
  border-bottom:1px solid #ccc;
}

#container .sub_menu ul > li > ul > li:hover{
  text-decoration: underline;
}


  /*sub_story*/

#container .sub_story{
/*   border-top:1px solid #999; */
  margin-top:0px;
  margin-bottom:100px;
  position: relative;
  top:-20px;
  opacity: 0;
}

#container .sub_story ul.h_tabs{
  border-collapse: collapse;
  overflow:hidden;
  margin-top:10px;
}

#container .sub_story ul.h_tabs li{
  float:left;
  border:1px solid #ccc;
  border-left:none;
  border-collapse: collapse;
  width:318.7px;
  height:60px;
  color:#666666;
  font-size:17px;
  cursor:pointer;
  line-height: 57px;
}

#container .sub_story ul.h_tabs li.current{
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  background-color: #bc1225;
}

#container .sub_story ul.h_tabs li:nth-child(1){
  border-left:1px solid #ccc;
  /* background-color:#bc1225;
  color:#fff;
  font-weight:600; */
}

#container .sub_story .sub_ani01,
#container .sub_story .sub_ani02,
#container .sub_story .sub_ani03,
#container .sub_story .sub_ani04{
  position: relative;
}

#container .sub_story .sub_summury01{
  margin-top:50px;
  width:100%;
  height:170px;
  border-radius:20px 0 20px 0;
  background:url(../img/sub/01sub_img01.png) no-repeat 0 0;
  background-size:100%;
  text-align:left;
}

#container .sub_story .sub_summury01 p{
  font-size:28px;
  padding-top:40px;
  padding-left:70px;
  padding-bottom:15px;
/*   color:#832506; */
  color:#fff;
}

#container .sub_story .sub_summury01 span{
  font-size:17px;
/*   color:#832506; */
  color:#fff;
  padding-left:70px;
  display:block;
  line-height:1.2em;
}

#container .sub_story .sub_summury02 p,
#container .sub_story .sub_summury03 p,
#container .sub_story .sub_summury04 p,
#container .sub_story .sub_summury05 p{
  margin:40px 0 20px 0;
  font-size:23px;
  font-weight:600;
  color:#333;
  display:block;
}

#container .sub_story .sub_summury02 span,
#container .sub_story .sub_summury03 span,
#container .sub_story .sub_summury04 span{
  color:#333;
  font-size: 16px;
  margin-top:63px;
  padding:40px 0;
  display:block;
  line-height:25px;
}

#container .sub_story .sub_summury05 span{
  padding-top:40px;
  font-size:17px;
  display: block;
}

#container .sub_story .sub_summury05 b{
  margin-top:10px;
  font-size:15px;
  display:block;
  line-height: 25px;
  color:#777777;
}

#container .sub_story .sub_summury02,
#container .sub_story .sub_summury03,
#container .sub_story .sub_summury04,
#container .sub_story .sub_summury05{
  position:relative;
}

#container .sub_story .sub_summury02 img,
#container .sub_story .sub_summury03 img,
#container .sub_story .sub_summury04 img,
#container .sub_story .sub_summury05 img{
  position:absolute;
  left:49.5%;
}

#container .sub_story .sub_summury02 div,
#container .sub_story .sub_summury03 div,
#container .sub_story .sub_summury04 div{
  background-color:#f7f7f7;
  border-radius:20px 0 20px 0;
}

#container .sub_story .sub_summury05 div{
  padding-bottom:40px;
  background-color:#f7f7f7;
  border-radius:20px 0 20px 0;
  margin-top:63px;
}

.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}

/*white_bg*/
