/*03_sub01 css*/

/*banner_bg area*/

.banner_box{
  position: absolute;
  height:220px;
  overflow: hidden;
      min-width:1280px;
  
  width: 100%;
/*   top: 150px; */
  top: 120px;
  z-index: -9;
}

.banner_bg{
  position:absolute;
  top:0;
  width:100%;
  height:220px;
  background:url(../img/sub/content_bg6.png) no-repeat 0 0;
  background-size:cover;
  z-index: -10;
  transition: all 1.7s ease;
  transform: scale(1.1) rotate(0deg);
}

/*sub_menu*/

#container .sub_menu ul > li{
  position: relative;
}

#container .sub_menu ul > li:hover ul{
  display:block;
}

#container .sub_menu ul > li > ul{
height: auto;
position: absolute;
width: 100%;
height: 100px;
margin-top:0px;
/* padding-top: 100px; */
/* top: 30px; */
/* padding-top: 50px; */
/* background-color: #fff; */
display: none;
z-index: 1;
}

#container .sub_menu ul > li > ul > li{
    color:#888;
    font-size:15px;
    display: block;
    width:200px;
    height:44px;
    left:-32px;
    border-top:none;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0;
    line-height: 2.7em;
    border:1px solid #ccc;
    border-bottom:none;
    background:#fff;
}

  #container .sub_menu ul > ._submenu_3 > ul > li{
  left:-20px;
  }
  
  #container .sub_menu ul > ._submenu_4 > ul > li{
  left:-40px;
  }

#container .sub_menu ul > li > ul > li:last-child{
  border-bottom:1px solid #ccc;
}

#container .sub_menu ul > li > ul > li:hover{
  text-decoration: underline;
}

/*container*/

#container{
}

/*sub_story*/

#container .sub_story{
/* border-top:1px solid #999; */
margin-bottom:50px;
position: relative;
top:-20px;
opacity: 0;
}

#container .sub_story img{
/* width: 960px; */
  position:relative;
  border:1px solid #ccc;
  border-radius:15px 0 15px 0;
  padding:30px 88px;
  padding-left: 198px;
  padding-right: 197px;
}

#container .sub_story .sub_summury01{
  width: 1130px;
  margin-left: -25px;
  margin-bottom:15px;
  height:240px;
  background: url(../img/sub/central_lab_bg3.png) no-repeat 5px 0;
  background-size: 100%;
  text-align: left;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* webkit specific styles go here */
  #container .sub_story .sub_summury01{
    width: 1130px;
    margin-left: -25px;
    margin-bottom:50px;
    height:240px;
    background: url(../img/sub/central_lab_bg3_test.png) no-repeat 5px 0;
    background-size: 100%;
    text-align: left;
    overflow: hidden;
  }
}

#container .sub_story .sub_summury01 .sub_summury01_inner{
  float:left;
  padding-top:65px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#container .sub_story .sub_summury01 .sub_summury01_inner{
  float:left;
  padding-top:80px;
}
}

#container .sub_story .sub_summury01 .sub_summury01_inner h1{
  font-size:30px;
  font-weight:600;
  color:#b51927;
/*   padding-left:100px; */
/*   padding-right:100px; */
  padding-left:75px;
  padding-right:35px;
/*   padding-left:140px; */
/*   padding-right:120px; */
  text-align:center;
}

/* #container .sub_story #tab-2 .sub_summury01 .sub_summury01_inner h1::after{
  font-size:20px;
  font-weight:300;
  content:"|";
  margin-left:45px;
  color:#ccc;
  vertical-align: 5px;
} */

#container .sub_story .sub_summury01 .sub_summury01_inner2{
  float:left;
  padding-top:30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	#container .sub_story .sub_summury01 .sub_summury01_inner2{
  float:left;
  padding-top:45px;
}
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 p{
  font-size:23px;
  font-weight:600;
  margin-bottom:15px;
  color:#222;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#container .sub_story .sub_summury01 .sub_summury01_inner2 p{
  font-size:23px;
  font-weight:600;
  margin-bottom:25px;
  color:#222;
}
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 span{
  font-size:15px;
  color:#666;
  display:block;
  line-height: 1.4em;
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 ul{
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 ul li{
  font-size:16px;
  color:#666666;;
  padding-left:60px;
  background: url(../img/dot.png) no-repeat 50px 10px;
  display:block;
  line-height:1.4em;
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 ul li b{
  font-weight:600;
  color:#222;
}

/*svg_area*/

.svg_box{
	width:1130px;
	position: relative;
	top:0px;
  left:5px;
  z-index: -1;
}

svg{
	position: absolute;
}

#a1{
}

#a2{
  top:125px;
  right:-2px;
}

.st1{
	fill:none;stroke:#AC1E27;stroke-width:1.5;stroke-miterlimit:10;
}

.st2{
	fill:none;stroke:#AC1E27;stroke-width:1.5;stroke-miterlimit:10;
}

.path {
stroke-dasharray: 1600;
stroke-dashoffset: 0;
animation: dash 1.5s linear alternate 1;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1600;
	}
	to {
		stroke-dashoffset: 0;
	}
}
