/*03_sub02 css*/

/*banner_bg area*/

.banner_box{
  position: absolute;
  height: 220px;
  overflow: hidden;
      min-width:1280px;
  
  width: 100%;
/*   top: 150px; */
  top: 120px;
  z-index: -9;
}

.banner_bg{
  position:absolute;
  top:0;
  width:100%;
  height:220px;
  background:url(../img/sub/content_bg8.png) no-repeat 0 0;
  background-size:cover;
  z-index: -10;
  transition: all 1.7s ease;
  transform: scale(1.1) rotate(0deg);
}

/*sub_menu*/

#container .sub_menu ul > li{
  position: relative;
}

#container .sub_menu ul > li:hover ul{
  display:block;
}

#container .sub_menu ul > li > ul{
height: auto;
position: absolute;
width: 100%;
height: 100px;
margin-top:0px;
/* padding-top: 100px; */
/* top: 30px; */
/* padding-top: 50px; */
/* background-color: #fff; */
display: none;
z-index: 1;
}

#container .sub_menu ul > li > ul > li{
    color:#888;
    font-size:15px;
    display: block;
    height:44px;
    border-top:none;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0;
    line-height: 2.7em;
    border:1px solid #ccc;
    border-bottom:none;
    background:#fff;
}

  #container .sub_menu ul > ._submenu_2 > ul > li{
  width:150px;
  left:-25px;
  }

#container .sub_menu ul > li > ul > li:last-child{
  border-bottom:1px solid #ccc;
}

#container .sub_menu ul > li > ul > li:hover{
  text-decoration: underline;
}

/*container*/

#container{
}



  /*sub_menu*/

#container .sub_menu ul > li{
  position: relative;
}

#container .sub_menu ul > li > ul{
height: auto;
position: absolute;
width: 100%;
height: 100px;
margin-top:0px;
/* padding-top: 100px; */
/* top: 30px; */
/* padding-top: 50px; */
/* background-color: #fff; */
display: none;
left:-8px;
z-index: 1;
}

#container .sub_menu ul > li > ul > li{
    color:#888;
    font-size:15px;
    display: block;
    width:150px;
    height:44px;
    left:-25px;
    border-top:none;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0;
    line-height: 2.7em;
    border:1px solid #ccc;
    border-bottom:none;
    background:#fff;
}

#container .sub_menu ul > li > ul > li:last-child{
  border-bottom:1px solid #ccc;
}

#container .sub_menu ul > li > ul > li:hover{
  text-decoration: underline;
}

  /*sub_story*/

#container .sub_story{
  position: relative;
  /* height:900px; */
/*   border-top:1px solid #999; */
  margin-top:0px;
  margin-bottom:60px;
  position: relative;
  top:-20px;
  opacity: 0;
}

#container .sub_story .sub_summury01{
  width:100%;
  height:160px;
  /* background:url(../img/sub/01sub_img02.png) no-repeat 0 0; */
  background-size:100%;
  text-align:left;
  overflow: hidden;
}

#container .sub_story .sub_summury01 .sub_summury01_inner{
  float:left;
  padding-top:45px;
}

#container .sub_story .sub_summury01 .sub_summury01_inner h1{
  font-size:30px;
  font-weight:600;
  color:#b51927;
  padding-left:75px;
  background:url(../img/sub/sil3.png) no-repeat 100% 0;
  width:140px;
}

/* #container .sub_story .sub_summury01 .sub_summury01_inner h1::after{
  font-size:20px;
  font-weight:300;
  content:"|";
  margin-left:50px;
  color:#ccc;
  vertical-align: 5px;
} */

#container .sub_story .sub_summury01 .sub_summury01_inner2{
  float:left;
  padding-top:35px;
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 p{
  font-size:21px;
  font-weight:600;
  margin-bottom:20px;
  padding-left:60px;
  color:#222;
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 span{
  font-size:16px;
  color:#666666;;
  padding-left:60px;
  display:block;
  line-height:1.4em;
}

#container .sub_story .sub_summury01 .sub_summury01_inner2 span b{
  color:#333;
}

#container .sub_story .sub_summury01 .sub_summury01_inner3{
  float:left;
  cursor: pointer;
}

#container .sub_story .sub_summury01 .sub_summury01_inner3 p{
  color:#d41111;
  padding:15px 20px;
  font-size:15px;
  border:1px solid #d41111;
  border-radius: 4px 0 4px 0;
  margin-top:40px;
  margin-left:50px;
}

#container .sub_story .sub_summury01 .sub_summury01_inner3 p:hover{
  background-color:#d41111;
  color:#fff;
}

#container .sub_story .notice_table{
  margin-top:345px;
  overflow:hidden;
}

#container .sub_story .notice_table .n_left{
  font-size:15px;
  margin-top: 23px;
  float:left;
}

#container .sub_story .notice_table .n_left b{
  font-weight:600;
  color:#333;
}

#container .sub_story .notice_table .n_left span{
  color:#666;
}

#container .sub_story .notice_table .n_right{
  float:right;
  position: relative;
}

#container .sub_story .notice_table .n_right #search_area{
  width:100px;
  height:39.5px;
  border:1px solid #ccc;
  color:#707070;
  font-size:14px;
  padding-left:10px;
  background:url(../img/toggle_arrow.png) no-repeat 90% center;
  background-size:12px;
  vertical-align:2px;
}


#container .sub_story .notice_table .n_right #search_select{
  width:100px;
  height:39.5px;
  border:1px solid #ccc;
  color:#666;
  font-size:14px;
  padding-left:10px;
  background: url(../img/toggle_arrow.png) no-repeat 90% center;
  background-size:12px;
  vertical-align: 2px;
}

#container .sub_story .notice_table .n_right .search_text{
  width:210px;
  height:36px;
  border:1px solid #ccc;
  padding-left:10px;
  vertical-align: 2px;
}

#container .sub_story .notice_table .n_right .search_bt{
  position: absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  background:url(../img/search3.png) no-repeat 0 0;
  border:none;
  cursor:pointer;
}

#container .sub_story .notice_table table{
  width:100%;
  float:left;
  margin-top:10px;
  border-collapse: collapse;
  border-spacing: inherit;
}

#container .sub_story .notice_table table tr th{
  font-size:16px;
  font-weight:600;
  height:55px;
  border-top:2px solid #333;
  border-bottom:1px solid #333;
  color:#333;
}

#container .sub_story .notice_table table .notice_header_td > td{
  background-color:#f7f7f7;
}

#container .sub_story .notice_table table .notice_header_td > td span{
  font-size:14px;
  border:1px solid #d10000;
  border-radius: 5px;
  background-color:#d10000;
  width:40px;
  height:25px;
  color:#fff;
  line-height: 1.6em;
  display:inline-block;
}

#container .sub_story .notice_table table tr td{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  font-size:15px;
  height:55px;
  color:#666;
}

#container .sub_story .notice_table table tr td.left_td{
  text-align: center;
}

#container .sub_story .notice_table table tr td a{
  color:#666;
}

#container .sub_story .notice_table table tr td a:hover{
  text-decoration: underline;
}

#container .sub_story .notice_table table tr td img{
  margin-top: 4px;
  vertical-align: -3px;
}




.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}

/*white_bg*/

.white_bg{
  width:100%;
  position:absolute;
  top:410px;
  border-top:1px solid #ccc;
}

.gray_bg2{
  width:100%;
  height:380px;
  background-color:#f7f7f7;
  position:absolute;
  top:1140px;
  left:0;
  z-index: -10;
}

.chayong_bg_area{
    background:url(../img/sub/chayong_bg_20231114.png) no-repeat 0 0;
    position: absolute;
    width:1100px;
    height:220px;
    transform: translate(0%,0%);
    top:639px;
    z-index: -1;
/*     max-width: 1098px; */
    opacity:0;
    margin-top: 70px;
}

.chayong_bg_gray{
  width:100%;
  height:286px;
  position: absolute;
  transform: translate(0%,-40%);
  top:789px;
  left:0;
  z-index: -2;
  background-color: #f9f9f9;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  opacity:0;
}

@-moz-document url-prefix(){
	.chayong_bg_area{
    background:url(../img/sub/chayong_bg.png) no-repeat 0 0;
    position: absolute;
    width:1100px;
    height:300px;
    transform: translate(0%,0%);
    top:674px;
    left:50%;
    z-index: -1;
    max-width: 1098px;
    opacity:0;
}

.chayong_bg_gray{
  width:100%;
  height:286px;
  position: absolute;
  transform: translate(0%,-40%);
  top:789px;
  left:0;
  z-index: -2;
  background-color: #f9f9f9;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  opacity:0;
}
}
