/*chart css*/

#container .chart_area{
  width:100%;
  overflow:hidden;
}

#container .chart_area h1{
  margin-top:2%;
  margin-left:10%;
  font-weight:600;
}

#container .chart_area h1 img{
  width: 15px;
  vertical-align:-2px;
  margin-right: 10px;
}

#container .chart_area canvas{
  width:1110px!important;
  height:605px!important;
  margin-top:30px;
  margin-left:10%;
}
