/*commone css*/

html{
  margin:0;
  padding:0;
  font-family:'Nanum Gothic', sans-serif;
  height:100%;
}

body{
  margin:0;
  padding:0;
  font-family: 'Nanum Gothic', sans-serif!important;
  height:100%;
  letter-spacing: -0.5px;
  background-color: #fff;
  line-height: 1!important;
}

#wrap{
  width:100%;
  overflow:hidden;
  background-color:#eee;
}

table{
  width:100%;
  text-align:center;
}

table, tr, td{
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  margin:0;
  padding:0;
}

li{
  list-style:none;
}

a:link, a:visited{
  text-decoration: none;
}

input[type="text"], input[type="password"],
input[type="email"], input[type="tel"],
input[type="submit"], input[type="reset"],
input[type="file"], input[type="button"],
textarea, button{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  background: none;
}

select::-ms-expand{
  display:none;
}

select{
  -webkit-appearance: none;
  -moz-appearance : none;
  -ms-appearance : none;
  background:url(../img/select_arrow.png) no-repeat 97% center!important;
  background-size: 7px;
  padding-left: 2px;
  padding-right : 15px;
/*   width:30%!important; */
}

input, textarea, select{
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (-ms-high-contrast : active), (-ms-high-contrast: none;){
  a img{
    border: none;
  }
}

.search_content{
	border:1px solid #eee;
	margin-bottom:20px;
	padding:5px;
}

.search_bt{
	border:1px solid #eee;
	padding:5px;
}

.pagination>li>a, .pagination>li>span{
	color:#48000a;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	border-color:#48000a;
	background-color:#48000a;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color:#48000a;
}

.btn{
	border:1px solid #ccc!important;
}

.btn-primary{
	border-color:#48000a;
	background-color:#48000a;
	color:#fff!important;
}

.btn-primary:hover{
	border-color:#760313;
	background-color:#760313;
	color:#fff!important;
}

.btn-primary:focus,
.btn-primary:active{
	border-color:#760313;
	background-color:#760313;
}

.btn-info{
	border-color:#48000a!important;
	background-color:#48000a!important;
	color:#fff!important;
}

.btn-info:hover{
	border-color:#760313!important;
	background-color:#760313!important;
	color:#fff!important;
}

#container .notice_area table tr td input{
	vertical-align:-4px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="submit"], input[type="reset"], input[type="file"], input[type="button"], textarea, button{
	border:1px solid #ddd;
	padding:5px;
}

.form-control02{
	width:150px!important;
	margin-right:200px;
	margin-bottom:10px;
	background-color:#fff!important;
}

.table>thead>tr>th{
	border-bottom:1px solid #ddd!important;
}

th > label{
	margin-right:10px;
}

._rowTestCodeSearch{
	height:30px;
	border-bottom:1px solid #ccc;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

._editLog{
	width:150px!important;
}

._rowSlave,
._testRow{
	cursor:pointer;
}

._rowSlave:hover,
._testRow:hover{
	background-color:#fff9eb;
}

/*container*/

#container{
  width:calc(100% - 200px);
  /* width:89.5%; */
  margin-left:200px;
  /* margin-left:10%; */
  float:left;
  background-color:#eee;
  /* background:url(../img/back.jpg) no-repeat 0 0; background-size:cover; */
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
	background:#fff;
}
